.categories div {
    width: 170px;
    cursor: pointer;
    color: black;
    margin-left: 50px;
    font-size: 20px;
}

.categories div:hover {
   color: silver;
   cursor: pointer;
}

.products_main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
